.main {
  display: flex;
  gap: 10px;
}

.grid {
  display: grid;
  gap: 0px;
  width: 600px;
  height: 600px;
  border: 3px solid black;
  background-color: black;
}

.box {
  background-color: blue;
  width: 1fr;
  height: 1fr;
}

.snake-head {
  background-color: pink;
  border: 1px solid black;
}

.snake-body {
}

.food {
  background-color: purple;
  border: 1px solid black;
}
